<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>  
      <div class="row" ng-controller="ListingsController">
          <div class="col-md-6">
              <div class="input-group" id="searchBar">
                  <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
                  <input type="text" class="form-control">
              </div>
              <div class="tableWrapper">
                  <table class="table table-striped table-hover">
                      <tr>
                          <th>Code</th>
                          <th>Building Name</th>
                          <th>Delete</th>
                          <th>Details</th>
                          <th></th>
                      </tr>
                      <tr ng-repeat="entry in listings | filter: containsSearch" ng-style="set_color($index)">
                          <td>{{entry.code}}</td>
                          <td>{{entry.name}}</td>
                          <td><input type="button" name="delete" value="Delete" class="btn btn-danger" ng-click="deleteListing(entry.name, entry.code)"></td>
                          <td><input type="button" name="details" value="Details" class="btn" ng-click="showDetails(entry.name, entry.code)"></td>
                      </tr>
              </div>
              </table>
          </div>
          <br>
          <div class="boxed">
              <div class="formBox"><h1><u>Add Listing</u></h1></div>
              <form ng-submit="addListing()">
                  <div class="formBox"><strong>Code</strong></div>
                  <div class="formBox"><input type="text" ng-model="code" required></div><br>
                  <div class="formBox"><strong>Building name</strong></div>
                  <div class="formBox"><input type="text" ng-model="name" required></div><br>
                  <div class="formBox"><strong>Latitude</strong></div>
                  <div class="formBox"><input type="text" ng-model="latitude"></div><br>
                  <div class="formBox"><strong>Longitude</strong></div>
                  <div class="formBox"><input type="text" ng-model="longitude"></div><br>
                  <div class="formBox"><strong>Address</strong></div>
                  <div class="formBox"><input type="text" ng-model="address"></div><br>
                  <div class="formBox"><input type="submit" value="Submit"></div>
              </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Listing Details</h2>
              <strong><font size="5">Code: </strong>{{detailedInfo.code}} </font><br><br>
              <strong><font size="5">Building Name: </strong>{{detailedInfo.name}} </font><br><br>
              <strong><font size="5">Latitude: </strong>{{detailedInfo.coordinates.latitude}} </font><br><br>
              <strong><font size="5">Longitude: </strong>{{detailedInfo.coordinates.longitude}} </font><br><br>
              <strong><font size="5">Address: </strong>{{detailedInfo.address}} </font><br><br>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
         <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
